.container-label {
    position: absolute;
    bottom: 90px;
    right: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d7c7c83;
    color: #EBE4D1;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    height: 40px;
    padding: 0px 50px;
}