<div class="container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="PS4"
        gamePrince="R$ 299,99"
        >
    </app-card>

    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVO"
        gameType="DISC | PS5"
        gamePrince="R$ 268,99">
    </app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="DIGITAL"
        gameType="PS5"
        gamePrince="R$ 499,99">
    </app-card>

    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="EXCLUSIVO"
        gameType="PS3 | PS4 | PS5"
        gamePrince="R$ 499,99">
    </app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="DGITAL | EXCLUSIVO"
        gameType="PS5"
        gamePrince="R$ 599,99">
    </app-card>
</div>